<!doctype html>

{% if page_key %}
    {% set theme = get_theme(page_key) %}
{% endif %}

<html
    {% if theme %}
    style="
        {% for var, value in theme.vars.items() %}
            {{ var }}: {{ value }};
        {% endfor %}
    "
    {% endif %}
>
    <head>
        <meta charset="utf-8">
        <title>Eli's Care Log</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap" rel="stylesheet">

        {% include "partials/_theme_css.html" %}
   </head>

    <body class="page-{{ page_key }}">
        {% include "partials/_navbar.html" %}

        {% if theme %}
        <div style="
            position: fixed;
            bottom: 12px;
            right: 12px;
            opacity: 0.85;
            z-index: 1000;
        ">
            <img
            src="{{ url_for('static', filename=theme.icon) }}"
            alt="{{ theme.name }}"
            width="100"
            height="100"
            >
        </div>
        {% endif %}

        <main class="container">
            {% block body %}{% endblock %}
        </main>

        {% include "partials/_toast.html" %}
    </body>
</html>