{% extends "base.html" %}
{% block body %}
    <h3 class="mb-3">Dashboard</h3>
    <div class="vstack gap-3">
        <div class="card shadow-sm">
            <div class="card-header">
                🧷 Diaper Stats
            </div>

            <div class="card-body">
                {% if last_diaper %}
                    <div class="fw-semibold">
                        Last diaper:
                        {% if last_diaper_ago_label %}
                            {{ last_diaper_ago_label }}
                        {% else %}
                            <span class="mono">{{ last_diaper_ago_num }}</span>
                            {{ last_diaper_ago_unit }} ago
                        {% endif %}
                    </div>
                    <div class="text-muted">
                        Type: {{ last_diaper_type }}
                    </div>
                {% else %}
                    <div class="text-muted">
                        No diapers yet.
                    </div>
                {% endif %}

                <hr>

                <div>
                    Wet today: <strong><span class="mono">{{ wet_count }}</span></strong>
                </div>
                <div>
                    BM today: <strong><span class="mono">{{ bm_count }}</span></strong>
                </div>
            </div>
        </div>

        <div class="card shadow-sm">
            <div class="card-header">
                🍼 Feed Stats
            </div>

            <div class="card-body">
                {% if avg_feed_duration_min is not none %}
                    <div>Avg feed duration (last 10):
                        <strong>
                            <span class="mono">{{ avg_feed_duration_min | minutes_to_hhmm }}</span>
                        </strong>
                    </div>
                {% else %}
                    <div class="text-muted">Avg feed duration (last 10): n/a</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
