{% extends "base.html" %}
{% block body %}
    <h3 class="mb-3">New Diaper</h3>
    <form method="post" class="vstack gap-3">
        <div>
            <label class="form-label">Date/Time</label>
            <input class="form-control" type="datetime-local" name="dt" required>
        </div>

        <div>
            <label class="form-label">Wet Diaper Size</label>
            <select class="form-select" name="wet_diaper_size">
                <option value="" selected> Select size</option>"
                <option value="S">Small</option>
                <option value="M">Medium</option>
                <option value="L">Large</option>
            </select>
        </div>

        <div>
            <label class="form-label">BM Diaper Size</label>
            <select class="form-select" name="bm_diaper_size">
                <option value="" selected> Select size</option>"
                <option value="S">Small</option>
                <option value="M">Medium</option>
                <option value="L">Large</option>
            </select>
        </div>

        <div>
            <label class="form-label">Notes</label>
            <textarea class="form-control"
                      name="notes"
                      rows="2"></textarea>
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-outline-secondary" href="{{ url_for('diaper_list') }}">Cancel</a>
    </form>
{% endblock %}